<div class="container mt-4">
  <h1>Lists</h1>
  <ul class="list-group list-group-flush">
    <% @lists.each do |list| %>
    <li class="list-group-item">
      <%= link_to list.name, list_path(list) %>
    </li>
    <% end %>
  </ul>
</div>
